# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output Directories dynamically rendered
output/
ready-for-spotify/

# Secure Files internally blocked
client_secret.json
token.json
